body{
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;  
}
.Option{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.Option:hover{
    background-color: darkcyan;
}
